SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", MODE="666", ACTION=="add", ATTRS{product}=="ChibiOS/RT Virtual COM Port", PROGRAM="vesc_count %k" SYMLINK+="%c", GROUP="dialout"
