<launch>
    <rosparam ns="rate" file="$(find pongrobot_actuation)/config/rate_config.yaml" />

    <group ns="launcher">
        <rosparam file="$(find pongrobot_actuation)/config/launcher_config.yaml" />

        <node name="trajectory_manager_node" pkg="pongrobot_actuation" type="trajectory_manager_node" output="screen" />
        <node name="vesc_node" pkg="pongrobot_actuation" type="vesc_node.py" output="screen" args="/dev/vesc0 /dev/vesc1" />
        <node name="vesc_node" pkg="pongrobot_actuation" type="launcher_node.py" output="screen" args="/dev/brobot_launcher" />
        <!-- <node name="serial" pkg="rosserial_python" type="serial_node.py" args="/dev/brobot_launcher" /> -->
    </group>
</launch>

