<launch>
    <rosparam ns="rate" file="$(find pongrobot_actuation)/config/rate_config.yaml" />

    <group ns="launcher">
        <rosparam file="$(find pongrobot_actuation)/config/launcher_config.yaml" />

        <node name="launcher_node" pkg="pongrobot_actuation" type="launcher_node.py" output="screen" args="/dev/brobot_launcher" />
    </group>
</launch>

